html, body {

	margin: 0px;
}
.wrapper {

	max-width: 1920px;
}
.aside1 {
	padding: 40px;
	float: left;
	width: 21%;
}
.display_aside {
	display: flex;
}
.main {

	float: right;
	width: 79%;
	padding: 30px;
}
h1 {

	font-size: 7vw;
	font-family: Montserrat;
	word-break: keep-all;
	line-height: 80%;
	letter-spacing: -2.45px;
}
h2, h3, h4, h5, h6 {

	font-family: Montserrat;
}
@media screen and (min-width: 1920px){
    h1 {
       
       font-size: 7vw;
    }
}
.row_header {

	display: flex;
	flex-wrap: wrap;
}
@media screen and (max-width: 980px){
    .aside1, .main {
       
       width: 100%;
    }
}
@media screen and (max-width: 980px){
    h1 {
       
       text-align: center;
    }
}
li {

	list-style: none;
	display: block;
	margin: 0px;
	padding-right: 10px;
	text-decoration: none;
}
#menu_full {

	display: none;
	padding: 5px;
}
.menu_full_class {
	background-color: rgba(220,220,220, 0.18);
}
a, a:hover, a:active, a:focus {

	text-decoration: none;
}
a {

	color: dimgrey;
}
a:hover, a:active, a:focus {

	color: silver;
}
.line {

	background-color: black;
	padding: 1px;
	margin-bottom: 5px;
}
.line_footer {

	background-color: black;
	padding: 0.3px;
	width: 97%;
	margin: auto;
}
@media screen and (max-width: 40em){
    .line_footer {
       
       width: 87%;
    }
}
.line2 {

	background-color: black;
	padding: 1px;
	margin-top: 5px;
}
.line3 {

	background-color: black;
	padding: 0.5px;

	margin-bottom: 20px;
}
.line3_what {

	background-color: black;
	padding: 0.5px;
	margin-top: 40px;
	margin-bottom: 20px;
}
.line3_full {

	background-color: black;
	padding: 0.5px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.hidden {

	display: none;
}
.unhidden {

	display: block;
}
.col-12 {

	margin: 0px;
	padding-bottom: 20px;
}
.center {

	text-align: center;
}
.row_footer {

	margin: 0px;
	border: 0px;
}
.right {

	float: right;
}
.left {

	float: left;
}
ul {

	margin: 0px;
	padding: 0px;
	text-decoration: none;
}